{
  "sourceMaps": "both",
  "plugins": ["transform-runtime", "transform-object-rest-spread", "transform-decorators-legacy"],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
