{
  "parser": "babel-eslint",
  "plugins": ["jest"],
  "extends": ["standard", "plugin:jest/recommended"],
  "env": {
    "jest/globals": true,
    "node": true
  },
  "rules": {
    "jest/no-identical-title": "off"
  }
}
